<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- CSS -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/style.css" />
        <link rel="stylesheet" media="print" href="{{ STATIC_URL }}css/print.css" />
        <title>{% block title %}DjPaste - Pastebin for code DJs{% endblock %}</title>
        <!-- JavaScript -->
        {% block script %}
        <script language="javascript">
            function place_focus(){
            }
        </script>
        {% endblock %}
    </head>

<body onload="place_focus()">
    <!-- Navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="#">DjPaste</a>
            </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'djpaste_index' %}">New Paste</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="{% url 'djpaste_help' %}">Help</a></li>
            </ul>
        </div>
      </div>
    </div>
    <!-- /Navbar -->

    <div class="container">
        <div class="">
            {% block header %}<h1>Djpaste</h1>{% endblock %}
        </div>
        <div id="row">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
                <span class=blurb"">
                    <a href="{% url 'djpaste_help' %}">How to paste?</a> | <a href="{% url 'djpaste_index' %}">New Paste</a> | <a href="http://uswaretech.com/">Usware</a>
                </span>
            {% endblock %}
        </div>
    </div>
</body>
</html>
